body{
    margin: 0;
    padding: 0;
}
header{
    box-shadow: 0 5px 5px #003049;
    background-color: #EAE2B7;
    padding-top: 3%;

}
main{
    background-color: #F77F00;
    margin: 0;
}
footer{
    background-color: #003049;
    padding-top: 3%;
}
.container{
    width: 66%;
    margin: 0 auto;
}
.font_medium{
    font-family: 'Montserrat';
    font-weight: medium;
    font-size: 16px;
}
.font_bold{
    font-family: 'Montserrat';
    font-weight:bold;
    font-size: 15px;    
}
.font_regular{
    font-family: 'Montserrat';
    font-weight:lighter;
    font-size: 16px;
}

.color_white{
 color:white;   
}

.none_decoration{
    text-decoration: none;
}
.logo{
    width: 20%;
}
.img_logo{
    width: 100%;
}
.header_menu{
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 35%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.title{
    margin: 0;
    padding-top: 3%;
}
.cards{
    display: flex; 
    flex-direction: row;   
    justify-content: space-between;
}
.card{
    display: flex;
    width: 25%;  
    background-color: #FCBF49;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.1);   
}
.cards_title{
    text-align: center;
}
.footer_text{
    margin:0;
}

@media screen and (max-width:900px){
    .cards{
        flex-direction: column ;
        justify-content: space-between;
        align-items: center;
    }
    .card{
        width: 40%;
    }
    .menu{
        width: 40%;
        flex-direction: column;
    }
}

@media screen and (max-width:500px){
    .card{
        width: 70%;
    }
    .menu{
        width: 60%;
    }
}
@media screen and (max-device-aspect-ratio: 1175/880){
 